* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-container {
  width: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel-slide {
  width: 3500px;
  display: flex;
}
.carousel-slide img {
  width: 500px;
  height: 300px;
}

/* button */

#next {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
  color: white;
  cursor: pointer;
}

#prev {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
  color: white;
  cursor: pointer;
}
i:hover {
  opacity: 0.5;
}

/* .fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
